:host {
  display: block;
  width: 66%;
  min-width: 700px;
  margin: 0 auto;
  user-select: none;
}

.list-product-line {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 200px;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.list-product-section {
  overflow: hidden;

  > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.list-product-end {
  margin-left: auto;
  justify-content: flex-end;
}

.list-product-end, .grid-product-bottom-line {
  display: flex;
  align-items: center;
  gap: 10px;
}

.grid-product-section {
  text-align: center;
  max-width: 100%;

  > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}